body {
    font-family: 'roboto';
    /* padding: 0 ; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #1F2937;
    /* margin: 0 200px; */
    margin: 0;
}

#header, #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

#section-1 {
    background-color: #1F2937;
    display: flex;
    padding: 100px 0;
    margin: 0 200px;
    /* flex-direction: column; */
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sec {
    color: #E5E7EB;
    font-size: 24px;
}

.left-sec-1{
    margin-right: 50px;
}

img {
    width: 500px;
    height: auto;
}

.hero-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 18px;
}

#section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    padding: 25px 0;
}

.info-row {
    display: flex;
    text-align: center;
    color: #1F2937;
    margin: 0 200px;
    padding: 50px 0;
    gap: 75px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    outline: solid 2px #3882F6;
    border-radius: 25px;
}

#section-3 {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    margin: 0 200px;
    padding: 50px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

#section-4 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.call-to-action {
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 25px 100px;
    display: flex;
    color: #F9FAF8;
    gap: 75px;
    border-radius: 10px;
}

.c2a-left {
    color: #E5E7EB;
}

.c2a-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8;
    border-style: solid;
    text-align: center;
    border-radius: 4px;
    padding: 8px 25px;
    margin: 45px 0;
    flex-shrink: 0;

    font-size: 16px;
}

#footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin: 0 200px;
    padding: 25px 0;
}